{% for product in products %}
    <span>{{product.name}}</span>
    <span>{{product.description}}</span>
    <span>{{product.price}}</span>
    <a href="{% url 'product:detail' product.id %}">Show</a>
    <a href="{% url 'product:edit' product.id %}">Edit</a>
    <form action="{% url 'product:delete' product.id %}" method="POST" onsubmit="if(confirm('Delete? Are you sure?')) { return true } else {return false };">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form><br>
{% endfor %}
<a href="{% url 'product:product' %}">New</a>
