<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %}Django App{% endblock title %}</title>
      {% csrf_token %}
      {% block extra_css %}
      <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" type="text/css">
      {% endblock %}
      {% load sass_tags %}
      <link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
      <link href="{% sass_src 'scss/ec.scss' %}" rel="stylesheet" type="text/css" />
      <!-- Scripts -->
      {% block extra_js %}
      <script type="text/javascript" src="{% static 'js/bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
      <script src="https://kit.fontawesome.com/13d8a3edb2.js" crossorigin="anonymous"></script>
      {% endblock %}
  </head>

  <body>
    {% include "_header.html" %}
    <main class="py-4 mb-5">
      {% if messages %}
        {% for message in messages %}
        <p class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}success{% endif %} text-center">
          {{ message }}<br/>
        </p>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </main>
    {% include "_footer.html" %}
  </body>
</html>


