{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h3 class="mt-3 mb-3">新規会員登録</h3>

        <hr>

        <form method="post" action="{% url 'user:signup' %}">
        {% csrf_token %}
        <div class="form-group row">

          <label class="col-md-5 col-form-label text-md-left">
            氏名
            <span class="ml-1 samazon-require-input-label">
              <span class="samazon-require-input-label-text">必須</span>
            </span>
          </label>

          <div class="col-md-7">
            <input type="text" name="name" class="form-control samazon-login-input" placeholder="山田 太郎" autofocus required {%if form.name.value%}value="{{form.name.value}}"{%endif%}/>
            {% if form.name.errors %}
              <span class="samazon-error-message">
                {% for error in form.name.errors %}
                <strong>{{ error }}</strong>
                {% endfor %}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-5 col-form-label text-md-left">
          メールアドレス
            <span class="ml-1 samazon-require-input-label">
              <span class="samazon-require-input-label-text">必須</span>
            </span>
          </label>

          <div class="col-md-7">
            <input type="email" name="email" class="form-control samazon-login-input" autofocus required autocomplete placeholder="メールアドレス" {%if form.email.value%} value="{{form.email.value}}" {%endif%}/>
            {% if form.email.errors %}
              <span class="samazon-error-message">
                {% for error in form.email.errors %}
                <strong>{{ error }}</strong>
                {% endfor %}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-5 col-form-label text-md-left">
          郵便番号
            <span class="ml-1 samazon-require-input-label">
              <span class="samazon-require-input-label-text">必須</span>
            </span>
          </label>
          <div class="col-md-7">
            <input type="text" name="postal_code" class="form-control samazon-login-input" required placeholder="150-0043" {% if form.postal_code.value%} value="{{form.postal_code.value}}" {%endif%}/>
            {% if form.postal_code.errors %}
              <span class="samazon-error-message">
                {% for error in form.postal_code.errors %}
                <strong>{{ error }}</strong>
                {% endfor %}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-5 col-form-label text-md-left">
          住所
            <span class="ml-1 samazon-require-input-label">
              <span class="samazon-require-input-label-text">必須</span>
            </span>
          </label>

          <div class="col-md-7">
            <input type="text" name="address" class="form-control samazon-login-input" required placeholder="東京都渋谷区道玄坂２丁目１１−１" {%if form.address.value%}value="{{form.address.value}}"{%endif%}/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-5 col-form-label text-md-left">
          電話番号
            <span class="ml-1 samazon-require-input-label">
              <span class="samazon-require-input-label-text">必須</span>
            </span>
          </label>

          <div class="col-md-7">
            <input type="text" name="phone" class="form-control samazon-login-input" required placeholder="03-5790-9039"{%if form.phone.value%} value="{{form.phone.value}}"{%endif%}/>
            {% if form.phone.errors %}
            <span class="samazon-error-message">
              {% for error in form.phone.errors %}
              <strong>{{ error }}</strong>
              {% endfor %}
            </span>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-5 col-form-label text-md-left">
          パスワード
            <span class="ml-1 samazon-require-input-label">
              <span class="samazon-require-input-label-text">必須</span>
            </span>
          </label>

          <div class="col-md-7">
            <input type="password" name="password" class="form-control samazon-login-input" autofocus required/>
            {% if form.password.errors %}
            <span class="samazon-error-message">
              {% for error in form.password.errors %}
              <strong>{{ error }}</strong>
              {% endfor %}
            </span>
            {% endif %}
            </div>
          </div>

        <div class="form-group row">
          <label class="col-md-5 col-form-label text-md-left"></label>
          <div class="col-md-7">
            <input type="password" name="password2" class="form-control samazon-login-input" required>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn samazon-submit-button w-100">
            アカウント作成
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}